@import '../../../../../constants/Colors.module.scss';
@import '../../../../../constants/Mixins.module.scss';
@import '../../../../../constants/Fonts.module.scss';

.container {
  width: calc(100vw - 24px);
  padding: 0 12px;
  background: url(../../../../../assets/images/profile_bg.png);
  background-repeat: no-repeat;

  >.top {
    width: calc(100vw - 26px);
    height: 120px;
    display: grid;
    grid-template-columns: 1fr auto;
    padding-top: 12px;

    >.profile {
      letter-spacing: 2.25px;
      text-transform: uppercase;

      >.pseudo {
        font-size: 45px;
      }

      >.level {
        margin-top: 8px;

        >.progressBar {
          margin-top: 4px;
          width: 177px;
          height: 10px;
          background: $dark_one;

          >.progression {
            height: 100%;
            background-color: $orange;
            transition: all 1s ease-in-out;
            width: 0%;
          }
        }
      }
    }

    >.seasonBadge {
      background: url(../../../../../assets/images/season_badge.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 140px;
      display: flex;
      justify-content: center;
      align-items: center;

      >span {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .frame {
    margin-top: 14px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 56px;
    width: calc(100% - 2px);
    backdrop-filter: blur(15px);
    padding: 6px 0;

    &.row {
      flex-direction: row;
      gap: 6px;
      padding: 12px;
      width: calc(100% - 26px);
      justify-content: flex-start;

      >img {
        height: 50px;
      }

      >div {
        display: flex;
        flex-direction: column;
      }
    }

    &.transparent {
      backdrop-filter: unset;
      border: unset;
    }
  }

  span.counter {
    font-size: 27px;
    font-weight: bold;

    >span {
      font-size: 16px;
    }
  }

  >.twoItems {
    width: calc(100% - 12px);
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 12px;

    >div {
      width: 100%;
    }

    >.row {
      width: calc(100% - 26px);
    }
  }
}