$purple: #7562D9;
$grey: #a5a5a5;
$dark_blue: #161A26;
$dark_one: #0A0A0A;
$orange: #ff9031;
$gold: #ffecaf;


:export {
  purple: $purple;
  grey: $grey;
  dark_blue: $dark_blue;
  dark_one: $dark_one;
  orange: $orange;
  gold: $gold;
}