@import '../../../constants/Colors.module.scss';
@import '../../../constants/Mixins.module.scss';

.container {

  >.headerMobile {
    position: relative;
    display: none;
    width: 100vw;
    height: 190px;
    margin-top: 50px;
    padding-bottom: 60px;
    background: url(../../../assets/images/profile_header_mobile.png);
    background-size: cover;


    @include respond-to('small') {
      display: block;
    }

    >.banner {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 62px;
      background: #000;
      display: grid;
      grid-template-columns: auto auto;
      gap: 12px;
      border-top: 1px solid #666;
      align-items: center;
      padding: 0 16px;

      >p {
        color: #fff;
        margin: 0;
        font-size: 13px;
      }

      >button {
        background: #000;
        border: 1px solid #fff;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        padding: 8px 36px;
      }
    }

  }
}